@tailwind base;
@tailwind components;
@tailwind utilities;

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.flash-correct {
  background-color: rgba(16, 185, 129, 0.3); /* teal-400 with opacity */
}

.flash-incorrect {
  background-color: rgba(239, 68, 68, 0.3); /* red-500 with opacity */
  animation: incorrect-flash-animation 0.3s ease-out;
}

@keyframes incorrect-flash-animation {
  0% {
    box-shadow: 0 0 15px 5px rgba(255, 0, 0, 0.7); /* Red glow */
  }
  100% {
    box-shadow: none;
  }
}